<div class="carousel-item {{subject}}-car-item grey-text text-darken-4">
  <div class="row car-item-text-row">
    <div class="col s12">
      <h1 class="left">{{header}}
      </h1>
    </div>
    <div class="col s1 push-s4 fab-col">
      <a class="btn-floating halfway-fab my-main-color-bg"
        href="#{{subject}}">
        <i class="material-icons">keyboard_arrow_down</i>
      </a>
    </div>
    <div class="col s5 pull-s1">
      <div class="divider grey darken-4"></div>
    </div>
    <div class="col s12">
      <h5 class="left grey-text text-darken-4 sub-header">{{subHeader}}</h5>
    </div>
  </div>
</div>
