<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar-fixed">
<nav>
 <div class="nav-wrapper my-main-color-bg">
   <a href="#" class="brand-logo lg-screen hide-on-med-and-down">Why</a>
   <a href="#" class="brand-logo hide-on-large-only">Why</a>
   <a href="#" data-target="mobile-demo" class="sidenav-trigger button-collapse"><i class="material-icons">menu</i></a>
   <ul class="right hide-on-med-and-down">
     <li><a href="#vegan" class="waves-effect waves-green">Vegan</a></li>
     <li><a href="#no-shoes" class="waves-effect waves-green">No Shoes</a></li>
     <li><a href="#lectio-divina" class="waves-effect waves-green">Lectio Divina</a></li>
   </ul>
   <ul class="sidenav sidenav-close" id="mobile-demo">
     <li><a class="grey-text text-lighten-4 waves-effect waves-green" href="#vegan">Vegan</a>
     </li>
     <li><a class="grey-text text-lighten-4 waves-effect waves-green" href="#no-shoes">No Shoes</a></li>
     <li><a class="grey-text text-lighten-4 waves-effect waves-green" href="#lectio-divina">Lectio Divina</a></li>
   </ul>
 </div>
</nav>
</div>
 
<app-carousel></app-carousel>

<div class="container">
  <div id="vegan" class="section scroll-spy">
    <div class="row">
      <div class="col s12">
        <h1 class="div-header grey-text text-darken-4">
          Vegan
        </h1>
      </div>
      <div class="col s12 m8">
        <div class="card-panel my-main-color-bg">
          <p class="flow-text grey-text text-darken-4">
            Write some stuff here..
          </p>
        </div>
      </div>
      <div class="col s12 m4 push-m1">
        <img class="responsive-img" [src]='fnfUrl'>
      </div>
    </div>
  </div>
</div>

<div class="my-main-color-bg">
  <div class="container">
    <div id="no-shoes" class="section scroll-spy">
      <div class="row">
        <div class="col s12">
          <h1 class="div-header grey-text text-darken-4">
            No Shoes
          </h1>
        </div>
        <div class="col s12 m8">
          <div class="card-panel my-main-color-bg">
            <p class="flow-text grey-text text-darken-4">
              Write some stuff here..
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="lectio-divina" class="section scroll-spy">
    <div class="row">
      <div class="col s12">
        <h1 class="div-header grey-text text-darken-4">
          Lectio Divina
        </h1>
      </div>
      <div class="col s12 m8">
          <div class="card-panel my-main-color-bg">
            <p class="flow-text grey-text text-darken-4">
              Write some stuff here..
            </p>
          </div>
        </div>
    </div>
  </div>
</div>

