.sidenav li>a {
	background-color: rgba(0,0,0,0.87);
}
.lg-screen {
	padding-left: 1em;
}

.div-header {
	margin-top: 1em;
	font-size: 4em;
	cursor: pointer;
}

#no-shoes {
	height: 500px;
}

#lectio-divina {
	height: 500px;
}

#vegan {
	height: 500px;
}

.card-panel {
	background-color: #C6DF9E;
}

nav {
	z-index: 2;
}
