/* You can add global styles to this file, and also import other style files */
.carousel .indicators .indicator-item {
	height: 3em;
	width: 3em;
	padding-left: 3em;
	padding-right: 3em;
	border-radius: 0;
	background-color: rgba(0,0,0,.7);
}

.sidenav {
	background-color: rgba(5,5,5,.8);
}

.my-main-color-bg {
	background-color: #679C42;
}

.my-main-color {
	color: #679C42;
}

.my-secondary-color-bg {
	background-color: #6D5636;
}

.my-secondary-color {
	color: #6D5636;
}

.card-panel>p {
	color: white;
}